.smallButton {
    width: 100px !important;
    margin: 20px 0 0 0 !important;
    background-color: #a29bfe !important;
    color: #fff !important;
    cursor: pointer !important;
}

.smallButtonDisabled {
    width: 100px !important;
    margin: 20px 0 0 0 !important;
    background-color: #b2bec3 !important;
    color: #636e72 !important;
    cursor: default !important;
}