* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $grey-body;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@include grid('col');

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-content-between {
  align-content: space-between;
}

.flex-content-start {
  align-content: flex-start;
}

.flex-content-end {
  align-content: flex-end;
}

.hidden {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.App {
  background: url("../images/sky.jpeg") center;
  background-size: cover;

  .title {
    font-family: $font-roboto-bold;
    color: $green;
    text-shadow: 5px 5px 10px $black;

    h1 {
      font-size: $font-size-40;
      margin: 47px 80px 0px;
      background: inherit;
    }

    h3 {
      text-align: center;
      height: 30px;
    }

    h4 {
      color: $white;
      margin: 0;
      text-align: center;
    }

    .show {
      margin: 20px 0;
      color: $green;
      text-align: center;
    }

    table {
      height: 302px;
      overflow: scroll;


      tbody {
        tr {
          color: $black;
          text-shadow: none;

          td {
            text-align: center;
          }
        }
      }
    }
  }
}

.numbersLine {
  font-family: $font-roboto-medium;
  font-size: $font-size-16;
  width: 550px;
  height: 50px;
  margin-left: 40px;
  justify-content: space-around;
}

.lettersLine {
  font-family: $font-roboto-medium;
  font-size: $font-size-16;
  width: 40px;
  height: 550px;
  align-content: space-around;

  p {
    height: 20px;
    margin: 0 20px 0 0;
  }
}

.board {
  width: 549px;
  margin: 0 10px 40px 0;
  opacity: .8;
  box-shadow: 5px 5px 10px $black;

  .assistant {
    width: 58px;
    height: 14px;
    background-color: inherit;
    border: none;
    text-align: center;
  }

  .main {
    width: 45px;
    height: 40px;
    font-size: 25px;
    text-align: right;
    border: none;
    margin-left: 8px;
    outline: none;
    background-color: inherit;
  }
}

.buttons {

  button {
    font-family: $font-roboto-medium;
    font-size: $font-size-16;
    width: 150px;
    height: 40px;
    margin: 30px 50px 0;
    box-shadow: 5px 5px 10px $black;
    transition-duration: .2s;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;

    &:first-child {
      background-color: $green;
    }
    &:nth-of-type(2) {
      background-color: $blue;
    }

    &:nth-of-type(3) {
      background-color: $blue;
    }

    &:nth-of-type(4) {
      background-color: $blue;
    }

    &:nth-of-type(5) {
      background-color: $orange-light;
    }

    &:last-child {
      margin-bottom: 40px;
      background-color: $red-light;
    }

    &:active {
      box-shadow: none;
    }
  }

  .small {
    width: 100px;
    margin: 20px 0 0 0;
    background-color: $grey-title !important;
    color: $white;
  }
}

.modal-select-difficulty {

  button {
    margin: 5px 0;
    width: 80px;
    height: 25px;
    background-color: $grey-title;
    color: $white;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: $font-size-13;
    box-shadow: 5px 5px 10px $black;
    transition-duration: .2s;

    &:active {
      box-shadow: none;
    }
  }

  .select-level {
    color: $black;
    margin: 10px 0;
    font-family: $font-roboto-light;

    .cell {
      padding: 5px 0;
      cursor: pointer;

      label {
        padding-left: 5px;
        cursor: inherit;
      }

      input {
        cursor: inherit;
      }
    }
  }

}

[id*="c"], [id*="f"] {
  border-bottom: 3px solid $blue-dark;
}

[id*="3"], [id*="6"] {
  border-right: 3px solid $blue-dark;
}

[id*="a"], [id*="b"], [id*="d"], [id*="e"], [id*="g"], [id*="h"] {
  border-bottom: 1px solid $grey-light;
}

[id*="1"], [id*="2"], [id*="4"], [id*="5"], [id*="7"], [id*="8"] {
  border-right: 1px solid $grey-light;
}

