* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $grey-body;
}

h1 {
  font-family: $font-roboto-bold;
  font-size: $font-size-40;
  justify-content: center;
  color: $green;
  text-shadow: 5px 5px 10px $black;
  background: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@include grid('col');

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-content-between {
  align-content: space-between;
}

.flex-content-end {
  align-content: flex-end;
}

.hidden {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.App {
  background: url("../images/sky.jpeg") center;
  background-size: cover;
}

.numbersLine {
  font-family: $font-roboto-medium;
  font-size: $font-size-16;
  width: 550px;
  height: 50px;
  margin-left: 40px;
  justify-content: space-around;
}

.lettersLine {
  font-family: $font-roboto-medium;
  font-size: $font-size-16;
  width: 40px;
  height: 550px;
  align-content: space-around;

  p {
    height: 20px;
    margin: 0 20px 0 0;
  }
}

.board {
  width: 549px;
  margin: 0 10px 40px 0;
  opacity: .8;
  box-shadow: 5px 5px 10px $black;

  .assistant {
    width: 58px;
    height: 14px;
    background-color: inherit;
    border: none;
    text-align: center;
  }

  .main {
    width: 45px;
    height: 40px;
    font-size: 25px;
    text-align: right;
    border: none;
    margin-left: 8px;
    outline: none;
    background-color: inherit;
  }
}

.buttons {

  button {
    font-family: $font-roboto-medium;
    font-size: $font-size-16;
    width: 150px;
    height: 40px;
    margin: 30px 50px 0;
    box-shadow: 5px 5px 10px $black;
    transition-duration: .2s;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;

    &:first-child {
      background-color: $green;
    }
    &:nth-of-type(2) {
      background-color: $blue;
    }

    &:nth-of-type(3) {
      background-color: $blue;
    }

    &:nth-of-type(4) {
      background-color: $blue;
    }

    &:nth-of-type(5) {
      background-color: $orange-light;
    }

    &:last-child {
      margin-bottom: 40px;
      background-color: $red-light;
    }

    &:active {
      box-shadow: none;
    }
  }
}

[id*="c"], [id*="f"] {
  border-bottom: 3px solid $blue-dark;
}

[id*="3"], [id*="6"] {
  border-right: 3px solid $blue-dark;
}

[id*="a"], [id*="b"], [id*="d"], [id*="e"], [id*="g"], [id*="h"] {
  border-bottom: 1px solid $grey-light;
}

[id*="1"], [id*="2"], [id*="4"], [id*="5"], [id*="7"], [id*="8"] {
  border-right: 1px solid $grey-light;
}

